/* history.css */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f3f3f3;
    margin: 0;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px 40px;
    transition: transform 0.2s;
    width: 80%;
    /* Wider for desktop */
    max-width: 800px;
    /* Limit the width for very large screens */
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    /* Align text to the left for readability */
}

p {
    margin: 5px 0;
    color: #555;
    font-size: 1.1em;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}