<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <!-- <link rel="stylesheet" href="css/home.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Fake News Detection</h1>
            <div class="nav">
                <ul>
                    <li><a href="{{ url_for('history') }}">History</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <li>Welcome, {{ current_user.username }}!</li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="content">
            <form action="{{ url_for('index') }}" method="post">
                <label for="news_text">Enter news text:</label>
                <textarea name="news_text" id="news_text" rows="4" cols="50" placeholder="Type here..."></textarea><br>
                <input type="submit" value="Predict">
            </form>

            {% if recent_history %}
            <div class="history-box">
                <p><strong>Input Text:</strong> {{ recent_history['input_text'] }}</p>
                <p><strong>Prediction:</strong> {{ recent_history['prediction'] }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>